.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #393e46;
  min-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  color: #eeeeee;
}
.App-link {
  color: #61dafb;
}

.tilesDiv {
  display: flex;
  justify-content: space-around;
}
